Printing Data

In [1]:
print("Printing on different lines :")
print("Hello")
print("World")
print("Printing on same line : ")
print("Hello",end=" ")
print("World")

Printing on different lines :
Hello
World
Printing on same line :
Hello World

In [2]:
print("Printing without separator : ")
print("1","2","3")
print("Printing with separator : ")
print("1","2","3",sep="$")

Printing without separator :
1 2 3
Printing with separator :
1$2$3

In [3]:
print("Putting values in printing : ")
a=2
print("Value of a is {}".format(a))

Putting values in printing :
Value of a is 2

Data Types

In [4]:
print("Data Types in Python :")
a=2
b=2.9
c="string"
d=False
e=1+2j
print("{} is of type {}".format(a,type(a)))
print("{} is of type {}".format(b,type(b)))
print("{} is of type {}".format(c,type(c)))
print("{} is of type {}".format(d,type(d)))
print("{} is of type {}".format(e,type(e)))

Data Types in Python :
2 is of type <class 'int'>
2.9 is of type <class 'float'>
string is of type <class 'str'>
False is of type <class 'bool'>
(1+2j) is of type <class 'complex'>

Arithmetic Operations

In [5]:
print(1+2,2*3,3/4,4%2,5**2,sep="\n")

3
6
0.75
0
25

In [6]:
#Floor division
print(5/2)
print(5//2)

2.5
2

Taking Input

In [7]:
inp1=input("Enter :")

Enter :Isha

In [8]:
print(inp1)

Isha

In [9]:
n=input("Enter:")

Enter:34

In [10]:
print("Value of n as {} : {}".format(type(n),n))
print("Value of n as {} : {}".format(type(int(n)),int(n)))

Value of n as <class 'str'> : 34
Value of n as <class 'int'> : 34

In [11]:
a=input("Hello,Enter name: ")
b=input("Enter age : ")
print("Hello,Your name is :{}".format(a))
print("Your age after 5 years will be: {}".format(int(b)+5))

Hello,Enter name: Isha
Enter age : 19
Hello,Your name is :Isha
Your age after 5 years will be: 24

Conditional statements and Loops

In [12]:
a=int(input("Enter number :"))
if(a==0):
    print("Zero")
elif(a%2==0):
    print("Even")
else:
    print("Odd")

Enter number :0
Zero

In [13]:
a=int(input("Enter number :"))
if(a==0):
    print("Zero")
elif(a%2==0):
    print("Even")
else:
    print("Odd")

Enter number :2
Even

In [14]:
a=int(input("Enter number :"))
if(a==0):
    print("Zero")
elif(a%2==0):
    print("Even")
else:
    print("Odd")

Enter number :91
Odd

In [15]:
for i in range(1,10):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9

In [16]:
for i in range(10,1,-1):
    print(i,end=" ")

10 9 8 7 6 5 4 3 2

In [17]:
for i in range(9):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8

In [18]:
for i in range(1,10,2):
    print(i,end=" ")

1 3 5 7 9

In [19]:
i=0
while(i<10):
    print(i,end=' ')
    i+=1

0 1 2 3 4 5 6 7 8 9

In [20]:
for i in range(30):
    if(i%2==0):
        print(i,"Even",sep=" ")
    else:
        print(i,"Odd",sep=" ")

0 Even
1 Odd
2 Even
3 Odd
4 Even
5 Odd
6 Even
7 Odd
8 Even
9 Odd
10 Even
11 Odd
12 Even
13 Odd
14 Even
15 Odd
16 Even
17 Odd
18 Even
19 Odd
20 Even
21 Odd
22 Even
23 Odd
24 Even
25 Odd
26 Even
27 Odd
28 Even
29 Odd

Pattern Making

In [21]:
for i in range(5):
    for j in range(i):
        print("1",end=" ")
    print(end="\n")

1
1 1
1 1 1
1 1 1 1

In [22]:
#Shorter Way
for i in range(1,5,1):
    print("1 "*i,end="\n")

1
1 1
1 1 1
1 1 1 1

In [23]:
for i in range(1,10,1):
    for j in range(1,i+1):
        print(j,end=" ")
    print(end="\n")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9

In [24]:
for i in range(10):
    print(" "*(10-i),end="")
    for j in range(i+1):
        print(j,end="")
    print(end="\n")

          0
         01
        012
       0123
      01234
     012345
    0123456
   01234567
  012345678
 0123456789

Functions

In [25]:
def Func1(x,y):
    print(x,y,sep=" $ ")

In [26]:
Func1(2,3)

2 $ 3

In [27]:
def Menu():
    print("Hello!")

In [28]:
Menu

In [29]:
Menu()

Hello!

In [30]:
#Funtions with default arguments
def Func(x=5,y=3):
    print("x:",x)
    print("y:",y)

In [31]:
Func()

x: 5
y: 3

In [32]:
Func(2)

x: 2
y: 3

In [33]:
Func(2,6)

x: 2
y: 6

In [34]:
#Recursion - Factorial
def Fact(n):
    if(n==1 or n==0):
        return n;
    n=n*Fact(n-1)
    return n

In [35]:
Fact(5)

120

In [36]:
Fact(3)

6

Data Structures in Python

Lists

In [37]:
a=[]
b=list()
c=[1,2,3]
print(type(a),type(b),type(c))

<class 'list'> <class 'list'> <class 'list'>

In [38]:
n=int(input("Enter no of elements : "))
l=list()
for i in range(n):
    c=input("Enter element : ")
    l.append(c)
print(l)
print("Length of list is : ",len(l))

Enter no of elements : 3
Enter element : 78
Enter element : 34
Enter element : 5
['78', '34', '5']
Length of list is :  3

In [39]:
c=[2,54,2,453,0,3.5,2.78]
c.sort()

In [40]:
c

[0, 2, 2, 2.78, 3.5, 54, 453]

In [41]:
c=[2,54,2,453,0,3.5,2.78]

In [42]:
c.sort(reverse=True)

In [43]:
c

[453, 54, 3.5, 2.78, 2, 2, 0]

In [44]:
c=[2,54,2,453,0,3.5,2.78]
sorted(c)

[0, 2, 2, 2.78, 3.5, 54, 453]

In [45]:
c #No change in c when u use sorted it creates a COPY

[2, 54, 2, 453, 0, 3.5, 2.78]

In [46]:
c=sorted(c)

In [47]:
c

[0, 2, 2, 2.78, 3.5, 54, 453]

In [48]:
print("Other Operations on list :")
l=[1,2,3,4]
print(l)
l.append(45)  #Adds in the end
print("After appending 45 :",l)
l.insert(2,56) #Adds element at the given index <index>,<element>
print("After inserting 56 at 2nd position",l)
l.remove(4)   #Removes element at a particular position
print("After removing element at position 4th:",l)
l.pop()  #Removes last element
print("After popping last element:",l)

Other Operations on list :
[1, 2, 3, 4]
After appending 45 : [1, 2, 3, 4, 45]
After inserting 56 at 2nd position [1, 2, 56, 3, 4, 45]
After removing element at position 4th: [1, 2, 56, 3, 45]
After popping last element: [1, 2, 56, 3]

Strings

In [49]:
s="  Hello People ! ! !  "
print(s)

  Hello People ! ! !

In [50]:
print(s.lstrip())

Hello People ! ! !

In [51]:
print(s)

  Hello People ! ! !

In [52]:
print(s.rstrip())

  Hello People ! ! !

In [53]:
print(s.strip())

Hello People ! ! !

In [54]:
s

'  Hello People ! ! !  '

String slicing -- Same is for Lists

In [55]:
s="Python Programming"

In [56]:
s[:]

'Python Programming'

In [57]:
s[:5]

'Pytho'

In [58]:
s[2:5]

'tho'

In [59]:
s[0:5:2]

'Pto'

In [60]:
s[-1:-1]

''

In [61]:
s[-1:]

'g'

In [62]:
s[-1::-1]

'gnimmargorP nohtyP'

In [63]:
s

'Python Programming'

Dictionaries

In [64]:
d={"name":"Isha"}
print(d)
print(type(d))

{'name': 'Isha'}
<class 'dict'>

In [65]:
#Key value pair

In [66]:
dic_marks={"Maths":89,"Physics":90,"Chemistry":88,"English":100,"Computer":100}

In [67]:
type(dic_marks)

dict

In [68]:
print(dic_marks)

{'Maths': 89, 'Physics': 90, 'Chemistry': 88, 'English': 100, 'Computer': 100}

In [69]:
print(dic_marks.keys())

dict_keys(['Maths', 'Physics', 'Chemistry', 'English', 'Computer'])

In [70]:
print(dic_marks.values())

dict_values([89, 90, 88, 100, 100])

In [71]:
print(dic_marks['Physics'])

90

In [72]:
dic_marks["Social"]=82

In [73]:
print(dic_marks)

{'Maths': 89, 'Physics': 90, 'Chemistry': 88, 'English': 100, 'Computer': 100, 'Social': 82}

Tuples

In [74]:
t=(1,2,4,3)
print(t,type(t))

(1, 2, 4, 3) <class 'tuple'>

In [75]:
a,b,c,d=t

In [76]:
print(a,b,c,d)

1 2 4 3

In [77]:
#Ziping in Python

x=[1,2,3,4]
y=[5,6,7,8]
for x,y in zip(x,y):
    print(x,end=" ")
    print(y)

1 5
2 6
3 7
4 8

Sets

In [78]:
s={1,2,3,3,1,2,4}
print(s)
print(type(s))

{1, 2, 3, 4}
<class 'set'>

In [79]:
# Other Operations
s1={1,2,3,4,4,5}
s2={3,4}
print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))

{1, 2, 3, 4, 5}
{3, 4}
{1, 2, 5}

Importing Modules

In [80]:
import math

In [81]:
print(math.factorial(5))

120

In [82]:
from math import factorial as mf

In [83]:
print(mf(5))

120

Object-oriented Prog. Concepts

In [84]:
#Creating class
class Class_1:
    count=0 #Class variable
    def __init__(self,a):   #Constructor
        self.a=a
        Class_1.count+=1
    def Display_data(self):
        print(self.a)

In [85]:
c=Class_1(1)
c.Display_data()
c2=Class_1(4)
c2.Display_data()
Class_1.count

1
4

2