In [1]:
import pandas as pd

In [2]:
s = pd.Series([1,2,3,4,5,6])
print(s)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [3]:
s.describe()

count    6.000000
mean     3.500000
std      1.870829
min      1.000000
25%      2.250000
50%      3.500000
75%      4.750000
max      6.000000
dtype: float64

In [4]:
#You can change indexes from 0-count according to yourself
s_i=pd.Series([1,2,3,4,5,6,7],index=['A','B','C','D','E','F','G'])
print(s_i)

A    1
B    2
C    3
D    4
E    5
F    6
G    7
dtype: int64

In [5]:
s_i.describe()

count    7.000000
mean     4.000000
std      2.160247
min      1.000000
25%      2.500000
50%      4.000000
75%      5.500000
max      7.000000
dtype: float64

In [6]:
print(s)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [7]:
print("At postion 0 we have : ",s[0],s.iloc[0])

At postion 0 we have :  1 1

In [8]:
s2=pd.Series([2,4,52,3,2,45])
print(s2)

0     2
1     4
2    52
3     3
4     2
5    45
dtype: int64

In [9]:
x=s2.idxmax()
print(x)

2

In [10]:
v1 = pd.Series([1,2,3,4], index=['a','b','c','d'])
v2 = pd.Series([10,20,30,40], index=['b','c','a','d'])
print(v1, v2, "\nv1+v2: ",v1+v2, sep='\n')

a    1
b    2
c    3
d    4
dtype: int64
b    10
c    20
a    30
d    40
dtype: int64

v1+v2:
a    31
b    12
c    23
d    44
dtype: int64

In [11]:
v1 = pd.Series([1,2,3,4,5], index=['a','b','c','d','g'])
v2 = pd.Series([10,20,30,40], index=['a','d','e','f'])
print(v1, v2,"\n v1+v2",v1+v2, sep='\n')

a    1
b    2
c    3
d    4
g    5
dtype: int64
a    10
d    20
e    30
f    40
dtype: int64

 v1+v2
a    11.0
b     NaN
c     NaN
d    24.0
e     NaN
f     NaN
g     NaN
dtype: float64

In [12]:
#Drop NaN
s=v1+v2
s=s.dropna()
print(s)

a    11.0
d    24.0
dtype: float64

In [13]:
#OR we can change the values which don't occur with the value mentioned
s=v1.sub(v2,fill_value=-1)
#v1-v2
print(s)

a    -9.0
b     3.0
c     4.0
d   -16.0
e   -31.0
f   -41.0
g     6.0
dtype: float64

In [14]:
#OR we can change the values which don't occur with the value mentioned
s=v2.sub(v1,fill_value=-1)
#Subract v2-v1
print(s)

a     9.0
b    -3.0
c    -4.0
d    16.0
e    31.0
f    41.0
g    -6.0
dtype: float64

In [15]:
def Apply_to_all(x):
    print(x[:2])

In [16]:
g=pd.Series(['abcd','defg','ghij','jklm','mnop','pqrs','stuv','vwxy','yzab'])
print(g)

0    abcd
1    defg
2    ghij
3    jklm
4    mnop
5    pqrs
6    stuv
7    vwxy
8    yzab
dtype: object

In [17]:
g.apply(Apply_to_all)

ab
de
gh
jk
mn
pq
st
vw
yz

0    None
1    None
2    None
3    None
4    None
5    None
6    None
7    None
8    None
dtype: object

In [18]:
pd.DataFrame({
    'Col1': ['A1','A2','A3'],
    'Col2': ['B1','B2','B3'],
    'Col3': ['C1','C2','C3'],
})

  Col1 Col2 Col3
0   A1   B1   C1
1   A2   B2   C2
2   A3   B3   C3

In [19]:
pd.DataFrame({
    'Col1': ['A1','A2','A3'],
    'Col2': [1,2,3],
    'Col3': [True,False,True],
},
    index=['a', 'b', 'c'])

  Col1  Col2   Col3
a   A1     1   True
b   A2     2  False
c   A3     3   True

In [20]:
_.loc['a']

Col1      A1
Col2       1
Col3    True
Name: a, dtype: object

In [21]:
pd.DataFrame({
    'Col1': ['A1','A2','A3'],
    'Col2': [1,2,3],
    'Col3': [True,False,True],
},
    index=['a', 'a', 'c'])

  Col1  Col2   Col3
a   A1     1   True
a   A2     2  False
c   A3     3   True

In [22]:
_.loc['a']

  Col1  Col2   Col3
a   A1     1   True
a   A2     2  False

In [23]:
movies_df = pd.read_csv('./movies_metadata.csv')
movies_df.head()

c:\users\ajaya\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [24]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
adult                    45466 non-null object
belongs_to_collection    4494 non-null object
budget                   45466 non-null object
genres                   45466 non-null object
homepage                 7782 non-null object
id                       45466 non-null object
imdb_id                  45449 non-null object
original_language        45455 non-null object
original_title           45466 non-null object
overview                 44512 non-null object
popularity               45461 non-null object
poster_path              45080 non-null object
production_companies     45463 non-null object
production_countries     45463 non-null object
release_date             45379 non-null object
revenue                  45460 non-null float64
runtime                  45203 non-null float64
spoken_languages         45460 non-null object
status                   45379 non-null object
tagline                  20412 non-null object
title                    45460 non-null object
video                    45460 non-null object
vote_average             45460 non-null float64
vote_count               45460 non-null float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [25]:
dataset=movies_df.values
print(dataset)

[['False'
  "{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"
  '30000000' ... False 7.7 5415.0]
 ['False' nan '65000000' ... False 6.9 2413.0]
 ['False'
  "{'id': 119050, 'name': 'Grumpy Old Men Collection', 'poster_path': '/nLvUdqgPgm3F85NMCii9gVFUcet.jpg', 'backdrop_path': '/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg'}"
  '0' ... False 6.5 92.0]
 ...
 ['False' nan '0' ... False 3.8 6.0]
 ['False' nan '0' ... False 0.0 0.0]
 ['False' nan '0' ... False 0.0 0.0]]

In [26]:
dataset.shape

(45466, 24)

In [27]:
type(dataset)

numpy.ndarray

In [28]:
movies_df['adult'].values

array(['False', 'False', 'False', ..., 'False', 'False', 'False'],
      dtype=object)